.photo-croissant {
  width: 50%;
  height: auto;
  border-radius: 15px;
  display: block;
  margin: 30px auto;
  border: 1px;
  padding: 2px;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 33%);
}

h1,
p {
  text-align: center;
  margin: 30px;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
}

body {
  margin: 30px;
  background-color: #ffebd3;
}

ul {
  margin: 40px 60px;
}
